body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    97.78deg,
    var(--ds-background-accent-purple-bolder, #4423a3) 17.5%,
    var(--ds-background-accent-magenta-subtle, #aa63cb) 113.39%
  );
}
.container {
  background-color: rgba(250, 128, 114, 0.3);
  padding: 28px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin: 10px;
  max-width: 450px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.h1tag {
  font-size: 28px;
  text-decoration: underline;
  color: rgb(253, 219, 219);
  font-style: italic;
  /* text-shadow: 10px 10px 10px rgba(248, 53, 4, 0.9); */
}
.container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 7px;
  height: 60px;
}
.container-img img {
  width: 50px;
  height: 50px;
}
.input {
  height: 53px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  padding: 0 42px;
  border-radius: 7px;
}
.meaning-container {
  display: none;
}
.meaning-container {
  color: white;
}
